<!-- views/partials/header.ejs -->

<header>
  <h2>TinyApp</h2>



  <form action="/login" method="POST">Username <input type="email" name="email"/>Password <input type="password" name="email"/><button type="submit">Sign In</button>
  </form>
</header>







