<!-- views/partials/header.ejs -->

<header>
  <h2>TinyApp</h2>
<%if (typeof(user) != 'undefined') { %>
<h5><%= "Welcome, " + user.email %></h5>
<form method="POST" action="/logout"><button type="submit">Logout</button></form>

<% } else { %>

<a href="/login" >Login</a>

<a href="/register" >Register</a>

<% } %>

</header>









