<!DOCTYPE html>
<html lang="en">
  <head></head>
   <h1>Register</h1>
  <body style="font-size:20px; padding:50px;">


    <form

    method="POST" action="/register" >
    Email: <input type="email" name="email" value="">

    Password: <input type="password" name="password" value="">

    <input type="submit">

    </form>

  </body>
</html>