<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <% include ./partials/_header %>
</header>
 <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
  <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Edit">
  </form>
</body>
</html>
