<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <ul>
      <% for (var url in urls) { %>
        <li> <%=url%> - <%=urls[url]%> - <a href='#'> Shorten Link </a>
          <form method="POST" action="/urls/<%=url%>/delete"><button type="submit">Delete</button></form><form method="GET" action="/urls/<%=url%>"><button type="submit">Edit</button></form>
        </li>
      <% } %>
    </ul>
</body>
</html>



